# Project exclude paths
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf
out/
src/ClassicalTurkish/
src/ClassicalEnglish/Sections/1_info.tex
src/ClassicalEnglish/Sections/8_references.tex