# Project exclude paths
/out/
/src/ClassicalTurkish/
/src/ClassicalEnglish/Sections/1_info.tex
/src/ClassicalEnglish/Sections/8_references.tex
/src/ClassicalEnglish/Sections/1_info_redacted.tex
/src/ClassicalEnglish/Sections/8_references_redacted.tex